/*
  Payment Information card
  */
.cart-container {
  margin-top: 30px;
}
.summary_card {
  border: solid black 1px;
}

/*
  Order Summary Card
  */
.summary_card {
  background-color: #fff;
  width: 350px;
  height: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
}

/*
  Order Card Item Card
  */
.card_item {
  /* border: solid palevioletred; */
  border: solid 1px gray;
  height: 100px;
  border-radius: 5px;
  display: flex;
  position: relative;
  margin: 10px 0;
}
.close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
}

.card_item .product_img img {
  height: 100%;
  margin-right: 20px;
  width: 70px;
  border-radius: 5px;
}

.product_info h1 {
  font-size: 20px;
  color: #1e212d;
  margin: 5px 0;
}

.product_info p {
  color: #a1a1a1;
  font-size: 14px;
}
.product_rate_info {
  display: flex;
  margin: 5px 0;
  align-items: center;
  justify-content: space-between;
}

.count {
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.count-plus,
.count-minus {
  background: #fcfcfc;
  border: none;
  font-size: 20px;
  /* height: 100%; */
  /* padding: 0 15px; */
  border: solid gray;
  padding: 5px;
  border-radius: 50%;
}
.count-plus:hover,
.count-minus:hover {
  background: #53b5aa;
  color: #fff;
  cursor: pointer;
}

.count-plus {
  line-height: 30px;
}

.count-minus {
  line-height: 30px;
}
/*
  Order price & total
  */
.order_price,
.order_total {
  display: flex;

  justify-content: space-between;
  padding: 10px;
}
.order_price p {
  color: #a1a1a1;
}

@media only screen and (max-width: 1000px) {
  .cart-container {
    margin: auto;
  }
}
